        <%- include('includes/head.ejs') %>
        <link rel="stylesheet" href="css/error.css"></link>
    </head>
    <body>
        <div>
            <h2 id="error-status">401</h2>
            <p>로그인이 필요한 페이지입니다.</p>
        </div>
    </body>
</html>