            <%- include('includes/head.ejs') %>
            <link rel="stylesheet" href="css/error.css"></link>
        </head>
    <body>
        <div>
            <h2 id="error-status">500</h2>
            <p>서버에서 오류가 발생했습니다...</p>
        </div>
    </body>
</html>