<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>log in</title>
  </head>
  <body>
    <form action="" method="">
      <div>
        <label for="user-id">ID</label>
        <input type="text" name="user-id" id="user-id" pattern="[a-zA-Z0-9]+"  required/>
      </div>
      <div>
        <label for="user-pw">PW</label>
        <input type="text" name="user-pw" id="user-pw"  required/>
      </div>
      <button>Log in</button>
    </form>
    <button><a href="/sign-up">Sign up</a></button>
  </body>
</html>
