<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>sign up</title>
    <script src="/js/sign-up.js" defer></script>
  </head>
  <body>
    <p>
      보안을 위해 평소에 사용하지 않는 아이디/비밀번호를 입력하세요. 수강 신청
      기간이 끝나면 계정은 삭제됩니다.
    </p>
    <form action="/sign-up" method="POST">
      <div>
        <label for="user_id">ID</label>
        <input
          type="text"
          name="user_id"
          id="user_id"
          pattern="[a-zA-Z0-9]+"
          required
        />
        <p>영문자와 숫자만 가능</p>
      </div>
      <div>
        <label for="user_pw">Set password</label>
        <input type="password" name="user_pw" id="user_pw" required />
      </div>
      <div>
        <label>Password check</label>
        <input type="password" id="user_pw_check" required />
      </div>
      <button>sign up</button>
    </form>
  </body>
</html>
