<%- include('includes/head.ejs') %>
  </head>
  <body>
    <header>
      <p>과목추가</p>
    </header>
    <main>
      <section>
        <ul>
          <li>subject1</li>
        </ul>
      </section>
    </main>
    <footer></footer>
  </body>
</html>
