<div id="setting-overlay">
      <h1 id="close-setting-btn">&larr;</h1>
      
      <h2 class="setting-title">계정 설정</h2>
      <p id="account-init-btn" class="setting-body">계정 초기화</p>
      <p id="account-delete-btn" class="setting-body">계정 탈퇴</p>
      <p id="logout-btn" class="setting-body">로그아웃</p>

      <h2 class="setting-title">환경 설정</h2>
      <p id="sound-btn" class="setting-body">소리 알림</p>

      <h2 class="setting-title">서비스 정보</h2>
      <p id="version-btn" class="setting-body">버전</p>
</div>